*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color:  #4b0082;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.navbar{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 0px 110px;    
}

.image{
    border: 0px solid black;
    border-radius: 60px;
    overflow: hidden;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
.image :nth-child(1){
    height: 145px;
    width: 150px;
}
.navbartext{
    display: flex;
    column-gap: 60px;
    justify-content: center;
    align-items: center;
}
.navbartext :nth-child(1),:nth-child(2),:nth-child(3),:nth-child(4),:nth-child(5){
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.navbartext :nth-child(1):hover{
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.navbartext :nth-child(2):hover{
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.navbartext :nth-child(3):hover{
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.navbartext :nth-child(4):hover{
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.navbartext :nth-child(5):hover{
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.navbartext :nth-child(4).active{
    color: white;
}

.main{
    background-image: linear-gradient(to bottom right,#4169e1, red );
    background-color: #ecf0f1;
    height: 1000vh;
    display: flex;
    flex-direction: column;
   align-items: center;
}

.main h1{
    font-weight: 500;
    font-size: 40px;
   text-decoration: underline;
   color: white;
 }

 .main ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    width: 80vw;
}





